body {
    background-image: url("https://cdn.wallpapersafari.com/14/79/3CdGfr.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    color: pink;
}

h2 {
    text-align: center;
    color: pink;
}